.game {
  width: 620px;
  margin: 0 auto;
  user-select: none;

  &__title {
    margin: 15px 0;
    font-size: 60px;
    font-weight: 400;
  }

  &__message {
    margin: 10px 0;
  }

  &__playfield {
    position: relative;
    display: grid;
    width: 600px;
    height: 600px;
    margin: 15px auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border: 3px solid black;
    pointer-events: auto;

    &_blocked {
      pointer-events: none;
    }
  }

  &__cell {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    cursor: pointer;
    transition: all 0.2s linear;
    font-size: 120px;
    text-transform: uppercase;

    &:hover {
      background-color: lightgray;
    }
  }

  &__setup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(600px - 3px * 2);
    height: calc(600px - 3px * 2);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    justify-content: center;
    background-color: whitesmoke;
  }

  &__opponent {
    min-width: 300px;
    background-color: whitesmoke;
    border: none;
    border-radius: 8px;
    background-color: lightgray;
    padding: 4px;
    cursor: pointer;
    text-align: center;
  }

  &__button {
    border: none;
    border-radius: 8px;
    background-color: black;
    color: whitesmoke;
    padding: 8px;
    cursor: pointer;
    transition: all 0.2s linear;
    text-transform: uppercase;

    &:hover {
      opacity: 0.7;
    }

    &:active {
      opacity: 0.5;
    }
  }
}
